spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/taskhub
    username: taskhub
    password: taskhub
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never
